<a href="https://colab.research.google.com/github/rajshekharM/new-jan-2020/blob/master/part2_02Feb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Please implement all functions required in this notebook and write your observations and discussions as comments or markdown cells inside the notebook. Please submit the jupyter notebook along with all files that are required in the tasks.

You are provided with a file `data.csv` that contains the number of bicycles observed in several places in Ottawa during 2010 to 2019. The csv file has the following columns:

| column name | description |
|:-------------:|:-------------:|
| location_name | the location where the counter was installed |
| count      | number of bicycles passed by |
| max temp | maximum temperature (Celsius) |
| mean temp | average temperature (Celsius) |
| min temp | minimum temperature (Celsius) |
| snow on grnd (cm) | snow on ground |
| total precip (mm) | total precipitation |
| total rain (mm) | total rain |
| total snow (cm) | total snow |
| date | date of recording |


This part requires you to perform **data engineering**, **classical machine learning** methods and **neural networks** methods to solve a multi-class classification problem. All code should be written in Python (within the provided Jupyter Notebook environment) with or without (but not restricted to) the following packages:

In [0]:
import pandas as pd
import numpy as np
import sklearn
import scipy
#import torch

If you wish to use any other dependencies, please add them at the end of `requirements.txt` file. All code should be run on a CPU machine.

**Task objective:** given an input of `date, max temp, mean temp, min temp, snow on grnd (cm), total precip (mm), total rain (mm), total snow (cm)`, predict whether the tota
l number of bicycles observed in a day is ***less than 2000***, ***in between 2000 and 10k*** or ***over 10k***.

Please read through all the items below before you start the task, and write down as many comments as you can.

## 1. Pre-processing

Please implement the function below which does the following two steps:

1. First sum the counts at different locations in a day. In other words, you are creating a new `DataFrame` that contains the following columns:
    - `date`
    - `max temp`
    - `mean temp`
    - `min temp`
    - `snow on grnd (cm)`
    - `total precip (mm)`
    - `total rain (mm)`
    - `total snow (cm)`
    - `total count`
    

2. Convert the numerical column `total count` into three categories: *less than 2000*, *2000 to 10000* and *over 10000*. Save the `processed_df` to `processed_data.csv`.

In [0]:
df = pd.read_csv("data.csv")

In [79]:
df.count()

location_name        23028
count                23028
max temp             22922
mean temp            22922
min temp             22922
snow on grnd (cm)    22908
total precip (mm)    22908
total rain (mm)      22908
total snow (cm)      22908
date                 23028
dtype: int64

In [74]:
df.index.duplicated('date')

array([False, False, False, ..., False, False, False])

In [97]:
df.shape

(23028, 10)

In [96]:
df.head(30)

   location_name  count  max temp  ...  total rain (mm)  total snow (cm)        date
0           ALEX      0     -14.0  ...              0.0              0.3  2015-02-20
1     ADAWE BIKE    968      29.5  ...              2.8              0.0  2016-08-28
2           COBY     10      -3.0  ...              0.0              9.5  2011-12-25
3           SOMO    122      14.0  ...             34.4              0.0  2017-05-01
4           OYNG    228      15.2  ...              0.0              0.0  2015-04-27
5           COBY     95       0.2  ...              1.0              0.0  2010-11-21
6           COBY    102       1.9  ...              0.0              2.5  2014-03-27
7           SOMO     73       6.5  ...              0.6              0.0  2013-01-12
8           ORPY   1219      18.2  ...              0.0              0.0  2012-09-16
9           ALEX      4       7.5  ...              0.0              0.0  2013-03-09
10          COBY     36      -1.7  ...              0.0              0.0  2011-03-02
11          ORPY   2957      19.5  ...              3.6              0.0  2016-06-10
12          SOMO    606       6.1  ...              0.0              0.0  2013-10-24
13          OGLD     66       7.0  ...              0.0              0.0  2017-03-19
14          ORPY   1520      12.0  ...              0.0              0.0  2017-10-26
15          COBY   1706      25.3  ...              0.0              0.0  2012-07-08
16    ADAWE BIKE    302       0.5  ...              0.0              0.0  2016-11-22
17          LLYN     18      -6.5  ...              0.0              3.9  2016-02-15
18          ALEX    431      28.0  ...              0.0              0.0  2018-10-09
19          ALEX   2033      28.3  ...              0.0              0.0  2012-05-19
20          ORPY   2637      22.2  ...              0.4              0.0  2013-10-03
21          COBY     19      -6.0  ...              0.0              1.6  2011-01-29
22          ALEX   2527      21.2  ...              0.0              0.0  2015-05-16
23          LMET    597       6.5  ...              0.0              0.0  2015-12-04
24          COBY    547      10.2  ...              0.0              0.0  2012-11-21
25     ADAWE PED   1942      25.5  ...              0.0              0.0  2016-05-22
26          COBY   2044      17.0  ...              0.0              0.0  2018-09-08
27       PORTAGE    744      25.3  ...              0.0              0.0  2015-08-31
28    ADAWE BIKE   1532      19.0  ...              0.0              0.0  2016-06-09
29          ORPY    359      11.0  ...              0.0              0.0  2011-11-26

[30 rows x 10 columns]

In [129]:
df[df.location_name == 'ALEX'].mean()

count                953.079541
max temp              13.032156
mean temp              8.254466
min temp               3.453355
snow on grnd (cm)      5.209376
total precip (mm)      2.582916
total rain (mm)        2.194438
total snow (cm)        0.441359
dtype: float64

In [85]:
df1[['count']].max()

count    7617
dtype: int64

In [82]:
df1[['total snow (cm)']].mean()

total snow (cm)    0.49589
dtype: float64

In [0]:
df3=df1.groupby(['date']).max()

In [0]:
df3=df3.drop(['location_name','count'],axis=1)

In [114]:
df3.head()

            max temp  mean temp  ...  total rain (mm)  total snow (cm)
date                             ...
2010-01-01      -2.5       -4.1  ...              0.0              7.6
2010-01-02     -11.9      -13.3  ...              0.0              2.6
2010-01-03      -7.8      -11.4  ...              0.0              3.0
2010-01-04      -7.5       -9.0  ...              0.0              2.0
2010-01-05      -5.0       -7.8  ...              0.0              1.5

[5 rows x 7 columns]

In [0]:
df_total=df.groupby('date').sum()[['count']]

In [0]:
df_total=df.groupby('date').sum()[['count']].rename(columns={'count':'total count'})

In [118]:
df_total.head()

            total count
date
2010-01-01            0
2010-01-02            0
2010-01-03            0
2010-01-04            0
2010-01-05            0

In [0]:
df_final=pd.merge(df3,df_total, on='date')

In [130]:
df_final.head(30)

            max temp  mean temp  ...  total snow (cm)  total count
date                             ...
2010-01-01      -2.5       -4.1  ...              7.6            0
2010-01-02     -11.9      -13.3  ...              2.6            0
2010-01-03      -7.8      -11.4  ...              3.0            0
2010-01-04      -7.5       -9.0  ...              2.0            0
2010-01-05      -5.0       -7.8  ...              1.5            0
2010-01-06      -6.0       -6.6  ...              0.2            0
2010-01-07      -6.0       -7.9  ...              0.4            0
2010-01-08      -8.6       -9.8  ...              0.0            0
2010-01-09     -11.3      -14.4  ...              0.0            0
2010-01-10      -5.3      -11.1  ...              0.0            0
2010-01-11      -2.8       -6.6  ...              0.0            0
2010-01-12      -9.6      -10.6  ...              0.0            0
2010-01-13      -7.8       -9.6  ...              2.0            0
2010-01-14       2.2       -3.6  ...              0.0            0
2010-01-15       2.5       -0.5  ...              0.0            0
2010-01-16       2.7        1.9  ...              0.0            0
2010-01-17      -4.0       -4.8  ...              0.0            0
2010-01-18      -0.9       -3.7  ...              0.0            0
2010-01-19       1.6       -0.4  ...              0.4            0
2010-01-20      -2.4       -3.4  ...              0.0            0
2010-01-21      -3.0       -6.0  ...              0.0            0
2010-01-22      -2.0       -8.1  ...              0.0            0
2010-01-23      -1.9       -8.2  ...              0.0            0
2010-01-24       4.0       -2.8  ...              0.0            0
2010-01-25       7.4        2.4  ...              2.0            0
2010-01-26       2.6        1.4  ...              0.0            0
2010-01-27      -1.3       -3.6  ...              0.5            0
2010-01-28      -3.2       -5.8  ...              2.0            3
2010-01-29     -17.6      -19.1  ...              0.0            0
2010-01-30     -10.0      -16.4  ...              0.0            0

[30 rows x 8 columns]

In [0]:
df_final['Total count label'] = pd.cut(df_final['total count'],bins=[-1,2000,10000,np.inf], labels=[1,2,3])

In [141]:
df_final[df_final['Total count label'] == 3].count()

max temp             804
mean temp            804
min temp             804
snow on grnd (cm)    804
total precip (mm)    804
total rain (mm)      804
total snow (cm)      804
total count          804
Total count label    804
dtype: int64

In [0]:
df_f1= df_final.drop(['total count'], axis = 1)

In [0]:
processed_df=df_f1.rename(columns = {'Total count label':'total count'})

In [172]:
processed_df.head()

            max temp  mean temp  ...  total snow (cm)  total count
date                             ...
2010-01-01      -2.5       -4.1  ...              7.6            1
2010-01-02     -11.9      -13.3  ...              2.6            1
2010-01-03      -7.8      -11.4  ...              3.0            1
2010-01-04      -7.5       -9.0  ...              2.0            1
2010-01-05      -5.0       -7.8  ...              1.5            1

[5 rows x 8 columns]

In [0]:
processed_df.to_csv('process_data.csv')

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
train_df, test_df = train_test_split(processed_df, test_size=0.2)

In [177]:
test_df.head()

            max temp  mean temp  ...  total snow (cm)  total count
date                             ...
2017-05-12      19.5       13.5  ...              0.0            3
2018-10-16       9.0        5.8  ...              0.0            2
2014-06-17      28.0       20.3  ...              0.0            2
2013-03-09       7.5       -1.0  ...              0.0            1
2017-12-04       8.0        3.5  ...              0.0            2

[5 rows x 8 columns]

In [0]:
x_train = train_df.drop(columns=['total count']).values

In [0]:
y_train = train_df['total count'].values

In [0]:
x_test = test_df.drop(columns=['total count']).values

In [0]:
y_test = test_df['total count'].values

In [0]:
train_df.to_csv('train.csv')

In [0]:
test_df.to_csv('test.csv')

In [0]:
from sklearn.ensemble import RandomForestClassifier, BaggingClassifier, AdaBoostClassifier, VotingClassifier

In [0]:
model_RF = RandomForestClassifier(n_estimators=10)

In [0]:
clf = model_RF.fit(x_train, y_train)

In [0]:
y_pred = model_RF.predict(x_test)

In [0]:
from sklearn.metrics import classification_report , accuracy_score, confusion_matrix

In [0]:
c_matrix = confusion_matrix(y_test,y_pred)

In [0]:
c_report = classification_report(y_test,y_pred)

In [0]:
score = accuracy_score(y_test,y_pred)

In [227]:
c_matrix

array([[207,  36,  11],
       [ 59, 116,  79],
       [  1,  61,  82]])

In [228]:
c_report

'              precision    recall  f1-score   support\n\n           1       0.78      0.81      0.79       254\n           2       0.54      0.46      0.50       254\n           3       0.48      0.57      0.52       144\n\n    accuracy                           0.62       652\n   macro avg       0.60      0.61      0.60       652\nweighted avg       0.62      0.62      0.62       652\n'

In [229]:
score

0.6211656441717791

Neural Network Model

In [0]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import accuracy_score

In [0]:
# paramenter initialization
batch_size = 1000
epoches = 5

In [0]:
# Define model
model = Sequential()

In [0]:
model.add(Dense(16, input_dim=7, activation='relu'))

In [0]:
model.add(Dense(12, activation= 'relu'))

In [0]:
model.add(Dense(3, activation = 'softmax'))

In [256]:
model.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_11 (Dense)             (None, 16)                128
_________________________________________________________________
dense_12 (Dense)             (None, 12)                204
_________________________________________________________________
dense_13 (Dense)             (None, 3)                 39
=================================================================
Total params: 371
Trainable params: 371
Non-trainable params: 0
_________________________________________________________________

In [0]:
model.compile(loss = 'categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

In [258]:
#train model
model.fit(x_train,y_train,batch_size=batch_size,verbose=1,validation_data=(x_test,y_test),epochs=epoches)

ValueError: ignored

In [207]:
    import keras
    from keras.models import Sequential
    from keras.layers import Dense
    from sklearn.metrics import accuracy_score
    
    # paramenter initialization
    batch_size = 1000
    epoches = 5

    #x_train = train_df.drop(columns=['total count']).values
    #y_train = train_df['total count'].values
    #x_test = test_df.drop(columns=['total count']).values
    #y_test = test_df['total count'].values
    
    
    #Dependencies
    # Neural network
    mdl = Sequential()
    mdl.add(Dense(16, input_dim=20, activation= 'relu'))
    mdl.add(Dense(12, activation= 'relu''))
    mdl.add(Dense(3, activation= 'softmax'))
    mdl.summary()
    
    mdl.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
    
    # train model
    print('\n# Fit model on training data')
    mdl.fit(x_train, y_train, 
            batch_size = batch_size
            verbose=1,
            validation_data=(x_test, y_test),
            epochs=epochs)
    
    # evaluate model
    print('\n# Evaluate on test data')
    mdl.evaluate(x_test, y_test, batch_size=44) 
    
    # if only need test_acc
    test_acc = accuracy_score(y_train,y_test)

SyntaxError: ignored

In [0]:
#Convert the numerical column total count into three
#categories: less than 2000, 2000 to 10000 and over 10000. Save the processed_df to processed_data.csv.
def divide_classes(x):
    if x <  2000:
        return "less than 2000"
    elif x >= 2000 & x <= 10000:
        return "2000 to 10000"    
    elif x > 10000:
        return "Over 10000"

df = pd.read_csv("data.csv")

def preprocessing(df: pd.DataFrame) -> pd.DataFrame:
    '''
    Pre-process a dataframe
    
    :param pd.DataFrame df: raw dataframe from data.csv
    
    :returns pd.DataFrame processed_df: processed dataframe
    ''' 
    
    print(df.shape)
    print(df.head())
    df1 = df.groupby(['date' , 'location_name' ], as_index=False)['count'].sum()

    df1.columns = ['date', 'location_name', 'total count']
    #del df['location_name']

    processed_df = pd.merge(df1, df, how = 'left', on = ['date', 'location_name'])
    print(processed_df.shape)
    print(processed_df.head(5))

    del processed_df['location_name']
    del processed_df['count']

    processed_df['class'] = processed_df['total count'].apply(lambda x : divide_classes(x))
    print(processed_df.head())

    return processed_df

## 2. Data engineering

Please implement the function below to do any data engineering as needed, split the dataset into train set (80%) and test set (20%). The final `DataFrame` should be ready for training/testing, in other words, one should be able to get `x, y` arrays using the following commands:

```python
x_train = train_df.drop(columns=['total count']).values
y_train = train_df['total count'].values
```

Save `train_df`, `test_df` to `train.csv` and `test.csv` respectively.

*hint: please consider what additional information can be extracted from the given columns*

In [0]:
from sklearn.model_selection import train_test_split
def data_engineering(processed_df: pd.DataFrame) -> (pd.DataFrame,
                                                     pd.DataFrame):
    
    '''
    Perform data engineering on processed dataframe

    :param pd.DataFrame processed_df: output of preprocess()

    :returns pd.DataFrame train_df: training set of the engineered dataframe
    :returns pd.DataFrame test_df: test set of the engineered dataframe
    '''
    
    # drop the null values
    print(processed_df.isnull().sum().tolist())
    processed_df = processed_df.dropna(axis=1, how='all')
    print(processed_df.isnull().sum().tolist())

    processed_df['day'] = pd.DatetimeIndex(df['date']).day
    processed_df['month'] = pd.DatetimeIndex(df['date']).month
    processed_df['year']= pd.DatetimeIndex(df['date']).year
    del processed_df['date']
    processed_df.head()

    # train test split
    train_df, test_df = train_test_split(processed_df, test_size=0.2)
    
    # save dataframe as csv
    train_df.to_csv('train.csv', sep='\t')
    test_df.to_csv('test.csv', sep='\t')
    
    return (train_df, test_df)

##  3. Classical machine learning methods

Please complete the function below which takes `train_df` and `test_df` as inputs, and outputs the trained classifier, accuracy on training set and test set, confusion matrix on test set. You can experiment with as many methods as you want, please only leave the one with best performance (you can leave the others in comments) so that the function only returns one trained classifier.

Please answer the following questions as comments or in another markdown cell:

1. What data engineering techniques did you apply?
2. What's the best accuracy on test set did you achieve? Which classifier did you use to get the best accuracy?
3. Which features are the most important for predicting counts of bicycles?

In [0]:
# ml models decistion tree
from sklearn.tree import DecisionTreeClassifier

# One of the Ensemle model -- Random Forset which is ensemple of decision trees
from sklearn.ensemble import RandomForestClassifier, BaggingClassifier, AdaBoostClassifier, VotingClassifier

# import logistic regression, SVC  for ensembling
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC

# Naive Bayes
from sklearn.naive_bayes import MultinomialNB

# Distance based
from sklearn.neighbors import KNeighborsClassifier

# packages for metric for evalaution of the models
from sklearn import metrics
from sklearn.metrics import classification_report , accuracy_score, confusion_matrix

# to save the models so that we don't need to train the models every time we need to do prediction
from sklearn.externals import joblib


from sklearn.model_selection import train_test_split, cross_val_score

/home/python_user/.pyenv/versions/3.7.2/lib/python3.7/site-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

In [0]:
x_train, x_test = data_engineering(preprocessing(df))

x_train.to_csv("train")
x_test.to_csv("test")

(23028, 10)
  location_name  count  max temp  mean temp  min temp  snow on grnd (cm)  \
0          ALEX      0     -14.0      -18.2     -22.3               27.0
1    ADAWE BIKE    968      29.5       23.8      18.0                0.0
2          COBY     10      -3.0       -9.3     -15.6                1.0
3          SOMO    122      14.0        8.8       3.5                0.0
4          OYNG    228      15.2        9.4       3.5                0.0

   total precip (mm)  total rain (mm)  total snow (cm)        date
0                0.3              0.0              0.3  2015-02-20
1                2.8              2.8              0.0  2016-08-28
2                7.0              0.0              9.5  2011-12-25
3               34.4             34.4              0.0  2017-05-01
4                0.0              0.0              0.0  2015-04-27
(23028, 11)
         date location_name  total count  count  max temp  mean temp  \
0  2010-01-01          ALEX            0      0      -2.5       -4.1
1  2010-01-01          COBY            0      0      -2.5       -4.1
2  2010-01-01          ORPY            0      0      -2.5       -4.1
3  2010-01-02          ALEX            0      0     -11.9      -13.3
4  2010-01-02          ORPY            0      0     -11.9      -13.3

   min temp  snow on grnd (cm)  total precip (mm)  total rain (mm)  \
0      -5.7               18.0                5.0              0.0
1      -5.7               18.0                5.0              0.0
2      -5.7               18.0                5.0              0.0
3     -14.6               21.0                1.9              0.0
4     -14.6               21.0                1.9              0.0

   total snow (cm)
0              7.6
1              7.6
2              7.6
3              2.6
4              2.6
         date  total count  max temp  mean temp  min temp  snow on grnd (cm)  \
0  2010-01-01            0      -2.5       -4.1      -5.7               18.0
1  2010-01-01            0      -2.5       -4.1      -5.7               18.0
2  2010-01-01            0      -2.5       -4.1      -5.7               18.0
3  2010-01-02            0     -11.9      -13.3     -14.6               21.0
4  2010-01-02            0     -11.9      -13.3     -14.6               21.0

   total precip (mm)  total rain (mm)  total snow (cm)           class
0                5.0              0.0              7.6  less than 2000
1                5.0              0.0              7.6  less than 2000
2                5.0              0.0              7.6  less than 2000
3                1.9              0.0              2.6  less than 2000
4                1.9              0.0              2.6  less than 2000
[0, 0, 106, 106, 106, 120, 120, 120, 120, 0]
[0, 0, 106, 106, 106, 120, 120, 120, 120, 0]

In [0]:
#x_train = 
#y_train =
#x_test = 
#y_test = 


# trying different models
models = [
    LogisticRegression(),
    LinearSVC(),
    DecisionTreeClassifier(),
    KNeighborsClassifier(n_neighbors=5),
    MultinomialNB()
]

# 5 cross validation
CV = 5
cv_df = pd.DataFrame(index=range(CV * len(models)))
entries = []

for model in models:
  model_name = model.__class__.__name__
  accuracies = cross_val_score(model, x_train, y_train, scoring='accuracy', cv=CV)
    
  for fold_idx, accuracy in enumerate(accuracies):
    entries.append((model_name, fold_idx, accuracy))

cv_df = pd.DataFrame(entries, columns=['model_name', 'fold_idx', 'accuracy'])
cv_df.groupby('model_name').accuracy.mean()

In [0]:
random_forest = RandomForestClassifier(n_estimators=10)
random_forest.fit(x_train, y_train)


print("Accuracy = ")
print(random_forest.score(x_test, y_test))
print("\n")
y_pred_rf = random_forest.predict(X_test)
print(classification_report(y_test, y_pred_rf))

In [0]:
def classical_ml(train_df: pd.DataFrame, test_df: pd.DataFrame) -> (
    'classifier', 'accuracy', 'confusion matrix'):
    '''
    Use classical machine learning methods to predict total counts

    :param pd.DataFrame train_df: training set dataframe
    :param pd.DataFrame test_df: test set dataframe

    :returns 'classifier': trained classifier
    :returns 'accuracy': tuple of training accuracy and testing accuracy
    :returns 'confusion matrix': confusion matrix on test set
    '''
    x_train = train_df.drop(columns=['total count']).values
    y_train = train_df['total count'].values
    x_test = test_df.drop(columns=['total count']).values
    y_test = test_df['total count'].values

    #clf = model.fit(x_train, y_train, ...)
    
    
    
    ...
    return (clf, (train_acc, test_acc), confusion_matrix)

## 4. Neural networks

Please complete the function below which takes `train_df` and `test_df` as inputs, and outputs the trained model, accuracy on test set. You can experiment with as many structures as you want, please only leave the one with the best performance so that the function only returns one model. In addition to the model and test accuracy, please also produce two graphs in the notebook cell:

- accuracy on train and validation data, `x-axis`: epochs, `y-axis`: accuracy
- loss on train and validation data, `x-axis`: epochs, `y-axis`: loss

Note validation data is not test set, it should be split from training set.

Please answer the following questions as comments or in another markdown cell:

1. How many epochs did you train? How did you decide when to stop training?
2. Please briefly explain the model structure (layers, sizes) you choose.

In [0]:
def nn_ml(train_df: pd.DataFrame, test: pd.DataFrame) ->  ('model',
                                                           'test_accuracy'):
    '''
    Use neural networks to predict total counts

    :param pd.DataFrame train_df: training set dataframe
    :param pd.DataFrame test_df: test set dataframe

    :returns 'model': trained model
    :returns 'test_accuracy': accuracy on test set
    '''
    import keras
    from keras.models import Sequential
    from keras.layers import Dense
    from sklearn.metrics import accuracy_score
    
    # paramenter initialization
    batch_size = 1000
    epoches = 5

    x_train = train_df.drop(columns=['total count']).values
    y_train = train_df['total count'].values
    x_test = test_df.drop(columns=['total count']).values
    y_test = test_df['total count'].values
    
    
    #Dependencies
    # Neural network
    mdl = Sequential()
    mdl.add(Dense(16, input_dim=20, activation=relu))
    mdl.add(Dense(12, activation=relu))
    mdl.add(Dense(4, activation=softmax))
    mdl.summary()
    
    mdl.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
    
    # train model
    print('\n# Fit model on training data')
    mdl.fit(x_train, y_train, 
            batch_size = batch_size
            verbose=1,
            validation_data=(x_test, y_test),
            epochs=epochs)
    
    # evaluate model
    print('\n# Evaluate on test data')
    mdl.evaluate(x_test, y_test, batch_size=44) 
    
    # if only need test_acc
    test_acc = accuracy_score(y_train,y_test)

    return (mdl, test_acc)

## 5. Discussions

Please write your observations, comments regarding this dataset and problem, you can also tell us about what challenges you faced or what you have learnt during your experiments.

## 6. Optional

If you are to design a forecasting model using this dataset to predict the counts of bicycles (still three categories, not actual numbers) in the future, what changes will you make? Please state all factors that you consider relevant, there is no need to write code for this question.

# Before you submit

Please use this checklist to make sure you submit all required files:

- [ ] `part1_answers.txt`
- [ ] `part2_answers.ipynb` (with code implementations and discussions)
- [ ] `processed_data.csv`
- [ ] `train.csv`
- [ ] `test.csv`
- [ ] (optional) `requirements.txt` if you used any additional package that was not listed before